@keyframes infernal{
    0% {
        background-image: url("../../../assets/img/effects/infernal/fire1.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    10% {
        background-image: url("../../../assets/img/effects/infernal/fire2.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    20% {
        background-image: url("../../../assets/img/effects/infernal/fire3.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    30% {
        background-image: url("../../../assets/img/effects/infernal/fire4.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    40% {
        background-image: url("../../../assets/img/effects/infernal/fire5.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    50% {
        background-image: url("../../../assets/img/effects/infernal/fire6.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    60% {
        background-image: url("../../../assets/img/effects/infernal/fire7.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    70% {
        background-image: url("../../../assets/img/effects/infernal/fire8.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    80% {
        background-image: url("../../../assets/img/effects/infernal/fire9.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    90% {
        background-image: url("../../../assets/img/effects/infernal/fire10.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
    100% {
        background-image: url("../../../assets/img/effects/infernal/fire10.png");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@keyframes martelodosdeuses{
    0% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_1.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    10% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_2.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    20% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_3.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    30% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_4.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    40% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_5.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    50% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_6.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    60% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_7.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    70% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_8.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    80% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_9.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    90% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_10.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
    100% {
        background-image: url("../../../assets/img/effects/martelodosdeuses/Lightning2_10.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center;
    }
}