//Media Icons
.icons-facebook {
    background-image: url('~@/assets/img/icons/social_media/facebook.svg');
    background-size: 100%;
}
.icons-instagram {
    background-image: url('~@/assets/img/icons/social_media/instagram.svg');
    background-size: 100%;
}
.icons-linkedin {
    background-image: url('~@/assets/img/icons/social_media/linkedin.svg');
    background-size: 100%;
}
.icons-whatsapp {
    background-image: url('~@/assets/img/icons/social_media/whatsapp.svg');
    background-size: 100%;
}
.icons-pinterest {
    background-image: url('~@/assets/img/icons/social_media/pinterest.svg');
    background-size: 100%;
}
.icons-discord {
    background-image: url('~@/assets/img/icons/social_media/discord.svg');
    background-size: 100%;
}
.icons-twitter {
    background-image: url('~@/assets/img/icons/social_media/twitter.svg');
    background-size: 100%;
}
.icons-telegram {
    background-image: url('~@/assets/img/icons/social_media/telegram.svg');
    background-size: 100%;
}
.icons-medium {
    background-image: url('~@/assets/img/icons/social_media/medium.svg');
    background-size: 100%;
}

//Benefits
.icons-newDigital {
    background-image: url('~@/assets/img/icons/benefits/marketing-digital.svg');
    background-size: 100%;
}
.icons-moreGrowth {
    background-image: url('~@/assets/img/icons/benefits/verificacao-de-codigo-qr.svg');
    background-size: 100%;
}
.icons-facilitySell {
    background-image: url('~@/assets/img/icons/benefits/caixa.svg');
    background-size: 100%;
}

//Home Icons
.icons-megaphone {
    background-image: url('~@/assets/img/icons/home/megaphone.svg');
    background-size: 100%;
}
.icons-viralMarketing {
    background-image: url('~@/assets/img/icons/home/viral-marketing.svg');
    background-size: 100%;
}
.icons-funds {
    background-image: url('~@/assets/img/icons/home/funds.svg');
    background-size: 100%;
}
.icons-growth {
    background-image: url('~@/assets/img/icons/home/growth.svg');
    background-size: 100%;
}
.icons-qrCode {
    background-image: url('~@/assets/img/icons/home/qr-code.svg');
    background-size: 100%;
}
.icons-email {
    background-image: url('~@/assets/img/icons/home/email.svg');
    background-size: 100%;
}
.icons-website {
    background-image: url('~@/assets/img/icons/home/website.svg');
    background-size: 100%;
}
.icons-work {
    background-image: url('~@/assets/img/icons/home/work.svg');
    background-size: 100%;
}

//Confirmation
.icons-confirmation {
    background-image: url('~@/assets/img/icons/confirm/check.svg');
    background-size: 100%;
}
.icons-checkNoBackground {
    background-image: url('~@/assets/img/icons/confirm/check-no-background.svg');
    background-size: 100%;
}

//BuyAds
.icons-magazine {
    background-image: url('~@/assets/img/icons/buyAds/ler.svg');
    background-size: 100%;
}
.icons-pallete {
    background-image: url('~@/assets/img/icons/buyAds/arte.svg');
    background-size: 100%;
}
.icons-cart {
    background-image: url('~@/assets/img/icons/buyAds/smart-cart.svg');
    background-size: 100%;
}

//Categories
.icons-news {
    background-image: url('~@/assets/img/icons/categories/news.svg');
    background-size: 100%;
}
.icons-person {
    background-image: url('~@/assets/img/icons/categories/pessoas.svg');
    background-size: 100%;
}

//General Icons
.icons-map {
    background-image: url('~@/assets/img/icons/general/map.svg');
    background-size: 100%;
}

// User
.icons-user {
    background-image: url('~@/assets/img/icons/user/user.svg');
    background-size: 100%;
}