//Import fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Font-size

$f-small: 0.62em;
$f-normal:0.75em;
$f-medium:0.875em;
$f-large:1em;
$f-big: 1.125em;
$f-xs: 1.375em;
$f-superXS: 1.87em;
$f-titleLogin: 3.75em;

// Font-size Disturb

$f-header: 45px;

//Style font

$Raleway: "Raleway", sans-serif;
$Bebas: "Bebas Neue", sans-serif;